cycler==0.10.0
gensim==4.0.1
jieba==0.42.1
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.4.2
numpy==1.21.0
Pillow==8.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.2
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sklearn==0.0
smart-open==5.1.0
threadpoolctl==2.1.0
